.new-line-xs {
    clear: none;
}

@media (max-width: 767px) {
    .new-line-xs {
        clear: left !important;
    }
}

.new-line-sm {
    clear: none;
}

@media (min-width: 768px) and (max-width: 992px) {
    .new-line-sm {
        clear: left !important;
    }
}

.new-line-md {
    clear: none;
}

@media (min-width: 993px) and (max-width: 1170px) {
    .new-line-md {
        clear: left !important;
    }
}

.new-line-lg {
    clear: none;
}

@media (min-width: 1170px) {
    .new-line-lg {
        clear: left !important;
    }
}
