.inner {
    padding: 3px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.25);;
    width: 100%;
    min-height: 20px;
}

.mobile {
    float: right;
    display: inline-block;
    width: 300px;
    background: url('../img/mobile.png') top left no-repeat transparent;
}

.mobile .display {
    padding: 91px 32px 20px 23px;
}

.tablet {
    float: right;
    display: inline-block;
    width: 300px;
    background: url('../img/tablet.png') top left no-repeat transparent;
}

.tablet .display {
    padding: 33px 40px 20px 34px;
    height: 186px;
    overflow: hidden;
}

.medium {
    float: right;
    display: inline-block;
    width: 300px;
    background: url('../img/medium.png') top center no-repeat transparent;
}

.medium .display {
    padding: 10px 28px 20px 22px;
    height: 150px;
    overflow: hidden;
}

.large {
    float: right;
    display: inline-block;
    width: 300px;
    background: url('../img/large.png') top center no-repeat transparent;
}

.large .display {
    padding: 16px 25px 20px 15px;
    height: 138px;
    overflow: hidden;
}

.device {
    height: 240px;
    overflow: hidden;
}

.device .grid-item {
    height: 50px;
}

.device h3 {
    text-align: center;
    color: #fff;
    font-weight: bold;
}

